<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>773849457508-6fpanifc90dne19tf1uhkcpjl9j0afqd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.773849457508-6fpanifc90dne19tf1uhkcpjl9j0afqd</string>
	<key>API_KEY</key>
	<string>AIzaSyBUKQkfFHjmvsQxxp-O8sodIfae0mOGIZg</string>
	<key>GCM_SENDER_ID</key>
	<string>773849457508</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.dongguk.cs.DeepDa</string>
	<key>PROJECT_ID</key>
	<string>deepda-60667</string>
	<key>STORAGE_BUCKET</key>
	<string>deepda-60667.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:773849457508:ios:819916683e7a2e4cc1d071</string>
</dict>
</plist>